extends ../layout.pug

block content
    if feedback == "successful"
        div(class="alert alert-success alert-dismissible fade show" role="alert") User successfully removed
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
    else if feedback == "unsuccessful"
        div(class="alert alert-danger alert-dismissible fade show" role="alert") Failed to remove user
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
    div.main
        h2(class="text-center py-3")="Logged in as: " + user
        div.table-responsive
            table(class="table table-striped table-bordered")
                thead
                    tr
                        th(scope="col")="ID"
                        th(scope="col")="Username"
                        th(scope="col")="Password"
                        th(scope="col")="Group"
                        th(scope="col" class="text-center")="Actions"
                tbody
                    each user in data
                        tr
                            td(scope="row")=user.id
                            td=user.username
                            td=user.password
                            if user.admin
                                td="Admin"
                            else
                                td="User"
                            td(class="text-center")
                                a(class="mx-2" href="user/update/" + user.id data-toggle="tooltip" data-placement="bottom" title="Edit user")
                                    i(class="fas fa-edit")
                                a(class="mx-2 text-danger" href="user/remove/" + user.id data-toggle="tooltip" data-placement="bottom" title="Remove user")
                                    i(class="fas fa-trash-alt")
