<%- include("../../partials/header") %>

<% if (feedback == "successful") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    User successfully updated
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> &times;</span>
    </button>
</div>
<% } else if (feedback == "unsuccessful") { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Failed to update user
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> &times;</span>
    </button>
</div>
<% } %>

<div class="main">
    <h2 class="text-center py-3">Update User with ID: <%= user.id %></h2>
    <form action="/user/update/<%= user.id %>" method="POST">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" name="id" id="id" disabled="" value=<%= user.id %>>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" value=<%= user.username %>>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" value=<%= user.password %>>
            <small id="passwordInfo" class="form-text text-muted">Your password will definitely not be stored in plaintext.</small>
        </div>
        <div class="form-group">
            <label for="group">Group</label>
            <select class="form-control" name="admin" id="group">
                <% if (user.admin) { %>
                    <option selected value="1">Admin</option>
                    <option value="0">User</option>
                <% } else { %>
                    <option value="1">Admin</option>
                    <option selected value="0">User</option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update User</button>
    </form>
</div>

<%- include("../../partials/footer") %>
